# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\micas\Documents\Cours\UHA Mecatronique\S5\Verteilte Systeme II\S5_HTML_CSS\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
